spring:
  application:
    name: Catalog
  datasource:
    url: jdbc:postgresql://host:port/catalog
    username: username
    password: password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

      thymeleaf:
        cache: false

server:
  port: 8080

